
<!--<div ng-controller = "InfoController as vm">-->
<div class="modal-header">
   <img src = "/modules/core/client/img/pgx4.png" style = "height:30px;width:75px"> 
</div>

<div class = "modal-body" class = "table-responsive-sm">

        
        <table class="table table-bordered table-striped text-center">
                <tr>
                    <th class="text-center">NO.</th>
                    <!--<th class="text-center">GENE</th>-->
                    <th class="text-center">REF_ALLEL_NM</th>
                    <th class="text-center">ALLEL_DTL_NM</th>
                    <th class="text-center">FUNC</th>
                    <th class="text-center">REF_PAPER</th>

                </tr>
                 <tbody ng-repeat = "(ALLEL, other) in pop | groupBy:'REP_ALLEL_NM' track by $index" >
                   <tr>
		   	<td class="pt-3-half" contenteditable="true" rowspan = "{{other.length+1}}">{{$index+1}}</td>
                   	<td class="pt-3-half" contenteditable="true" rowspan = "{{other.length+1}}">{{ALLEL}}</td>
			   
			 <tr ng-repeat = "item in other">			   	
			   	<!--<td class="pt-3-half" contenteditable="true">{{item.REP_ALLEL_NM}}</td>-->
        	           	<td class="pt-3-half" contenteditable="true">{{item.ALLEL_DTL_NM}}</td>
                	   	<td class="pt-3-half" contenteditable="true">{{item.FUNC}}</td>
                   	   	<td class="pt-3-half" contenteditable="true">{{item.REF_PAPER}}</td>
			</tr>
		   </tr>
		  </tbody>	
                </tr>
        </table>











      
</div>

<div class="modal-footer">
   <button class="btn btn-primary" type="button" ng-click="ok()">close</button>

</div>
<!--</div>-->
