<sectio>



<!--</div>-->
  <!--<div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Open-Source Full-Stack Solution For MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://meanjs.org" target="_blank" rel="noopener">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Congrats! You've configured and run the sample application.</h2>
    <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>M</strong>ongoDB</h2>
      <p><a target="_blank" href="https://www.mongodb.com/" rel="noopener">MongoDB</a> is a NoSQL database. MongoDB's <a target="_blank" href="https://docs.mongodb.com/manual/" rel="noopener">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="https://expressjs.com/" rel="noopener"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="https://expressjs.com/en/4x/api.html" rel="noopener">The ExpressJS API reference for more information</a>.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="https://angularjs.org/" rel="noopener">AngularJS</a> is client-side web application framework. The <a target="_blank" href="https://thinkster.io/" rel="noopener">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/" rel="noopener">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="https://nodejs.org/" rel="noopener">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="https://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js" rel="noopener">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>
  <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="https://meanjs.org/docs.html" rel="noopener">MEAN.JS Documentation</a>
        </li>
        <li><a target="_blank" href="https://meanjs.org/generator.html" rel="noopener">Yeoman Generator</a>
				</li> -->
        <!--<li><a target="_blank" href="https://meanjs.org/modules.html" rel="noopener">Modules</a>
        </li>
        <li><a target="_blank" href="https://meanjs.org/changelog.html" rel="noopener">Changelog</a>
        </li>
        <li><a target="_blank" href="https://meanjs.org/community.html" rel="noopener">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org" rel="noopener">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team.-->
</section>
