@charset "utf-8";
 
@import url('https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css');

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);  /* font-weight : 300, 400, 500, 600, 700 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
address, big, cite, code, del, dfn, em, font, img, ins,
q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: none 0;}
caption {text-indent:-10000px;}
html { font-size: 10px; }
body{ font-size: 12px; font-size: 1.2rem; line-height: 1.8rem; }
body{ font-size: 12px; font-size: 1.2rem; line-height: 1.8rem; }
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
body {background-color:#fff; color:#000; line-height: 1.2; font-weight: 300; font-family:"Noto Sans Korean", "돋움", Dotum, Verdana, Helvetica, Sans-serif !important;}
input, button, textarea {font-family: inherit; font-size:1.2rem; color:#000;}
h1, h2, h3, h4, h5, h6 {letter-spacing: 0; font-weight:normal;}
img, fieldset, iframe {border:0 none;}
table {border-collapse: collapse;}
select, textarea {font-family: inherit; border: 1px solid #B7B6B6; background: #FFFFFF; color: #7c7c7c; font-size: 12px; font-size: 1.2rem; vertical-align: middle;}
textarea {overflow:auto;}
select, input, img, li {vertical-align: middle; text-align:inherit;}
address, caption, cite, code, dfn, em, strong, th, var {font-style : normal; font-weight : 900;}
ul, li, ol {list-style-type: none;}
legend,  caption {display: none;}
hr {border-collapse:collapse; margin: 0; border: none;}
a:link, a:visited {text-decoration:none; color:inherit;}
a:hover {text-decoration:none;}
input[type="button"] {-webkit-appearance: none;}
i {line-height: 0.8em !important;}  