@charset "utf-8";
 
.wrapper {height: auto; min-height: 100%;}
html *, body * {transition: color, background-color, border-color .3s;}

[class*="col-"] {
    box-sizing: border-box;
    position: relative;
    float: left;
}

[class*="col-"] img {
    max-width: 100%;
}

[class*="ion-"]:before {vertical-align: middle;}

.w50 {width: 50%;}
.w100 {width: 100%;}

.col-center {float: none; margin-left:auto; margin-right: auto;}

.h-100 {height: 100%;}
.h-auto {height: auto;}

.mw1210 {max-width: 1210px;}
.mw1920 {max-width: 1920px;}
[class*="mw"] {overflow: hidden;}

.over-hidden {overflow: hidden;}
.over-visible {overflow: visible;}
.over-auto {overflow: auto; }

.hidden { display: none; }
.show { display: inline-block; }
.show-inline { display: inline; }
.show-block { display: block; }
.show-table { display: table; }
.show-tablecell { display: table-cell; }
.show-tablerow { display: table-row; }

.pr15{ padding-right: 15px; }
.pl15{ padding-left: 15px; }

.pr50{ padding-right: 50px; }
.pl180{ padding-left: 180px; }

@media all and (min-width: 768px) {
    .col-sm-3 {width: 25%;}
}
