@charset "utf-8";

  
/* header_wrap */
.header_wrap{height:580px; padding-top:28px;}
.sub_page .header_wrap{background-image: url('../img/sub_visual_img_000.jpg'); background-repeat: no-repeat; background-position: center center; background-size: scale; background-size: cover; height:402px;}
.header_wrap .visua_contents_wrap{z-index: 2;}
.header_wrap .header_title_wrap{margin-bottom:87px; z-index: 5; padding-left:20px; padding-right:20px;}
.header_wrap .header_util_con{top: -140px; font-size:0; line-height:0; float:left; margin-top:31px; margin-right:30px; position: relative; z-index: 3; display:none;}
.header_wrap .header_util_item{font-size:15px; font-size:1.5rem; line-height:21px; line-height:2.1rem; letter-spacing: 0.04em; color:#fff; font-weight:300; display:inline-block; vertical-align: middle; padding-right:19px; margin-right:19px; position: relative;}
.header_wrap .header_util_item:last-child{padding-right:0; margin-right:0;}
.header_wrap .header_util_item:last-child:after{display:none;}
.header_wrap .header_util_item:after{content:""; height:12px; border-right:1px solid #fff; opacity: 0.2; filter:alpha(opacity=20); position:absolute; top:3px; right:0;}
.header_wrap .logo_con{position: absolute; width:100%; text-align: left; z-index: 2;}
.header_wrap .gnb_menu_icon{float:left; width:33px; margin-top:30px; position: relative; z-index: 3; cursor: pointer;}
.header_wrap .gnb_menu_icon .menu_on{display:inline;}
.header_wrap .gnb_menu_icon .menu_close{display:none;}
.header_wrap.active .gnb_menu_icon{margin-top:28px;}
.header_wrap.active .gnb_menu_icon .menu_on{display:none;}
.header_wrap.active .gnb_menu_icon .menu_close{display:inline;}
.header_wrap .gnb_dim{position: fixed; width:100%; height:0; top:0; left:0; background-color:#000; z-index:1;}
.header_wrap.active .gnb_dim{height:100%;}


/* main_visual_slide_wrap */
.sub_page .main_visual_slide_wrap{display:none;}
.main_visual_slide_wrap{position:absolute; width:100%; height:100%; top:0; left:0;}
.main_visual_slide_wrap .main_visual_slide_con{width:100%; height:100%;}
.main_visual_slide_wrap .main_visual_slide_list{}
.main_visual_slide_wrap [class*=main_visual_img_]{background-repeat: no-repeat; background-position: center center; background-size: scale; background-size: cover;}
/*.main_visual_slide_wrap .main_visual_img_000{background-image: url('../img/main_visual_img_000.jpg'); }*/
.main_visual_slide_wrap .main_visual_img_001{background-image: url('../img/main_visual_img_001.jpg'); }
/*.main_visual_slide_wrap .main_visual_img_002{background-image: url('../img/main_visual_img_002.jpg'); }*/
/*.main_visual_slide_wrap .main_visual_img_003{background-image: url('../img/main_visual_img_003.jpg'); }*/
.main_visual_slide_wrap .swiper-button-prev{width:32px; height:32px; background-size: auto; background-image: url('../img/main_visual_left_arrow.png'); top:auto; margin-top:0; bottom:248px; left:15px; display:none;}
.main_visual_slide_wrap .swiper-button-next{width:32px; height:32px; background-size: auto; background-image: url('../img/main_visual_right_arrow.png'); top:auto; margin-top:0; bottom:248px; right:15px; display:none;}
.main_visual_slide_wrap .swiper-container-horizontal>.swiper-pagination-bullets{bottom:40px; font-size:0; line-height:0;}
.main_visual_slide_wrap .swiper-container-horizontal>.swiper-pagination-bullets > span{width:10px; height:10px; opacity: 1; filter:alpha(opacity=100); border:2px solid #fff; background-color:transparent; margin-right:9px; margin-left:9px; box-sizing: border-box; cursor: pointer;}
.main_visual_slide_wrap .swiper-container-horizontal>.swiper-pagination-bullets > span.swiper-pagination-bullet-active{background-color:#fff;}
.main_visual_slide_wrap .swiper-button-wrap{width:100%; height:32px; overflow: visible;}
.main_visual_slide_wrap .swiper-button-con{width:100%; height:100%; overflow: visible; position: relative;}


/* gnb_container */
.sub_page .gnb_container{padding-bottom:136px;}
.gnb_container{z-index: 3; position: fixed; left:100%; height:100%;}
.header_wrap.active .gnb_container{left:0;}
.gnb_container .gnb_wrap{}
.gnb_wrap{height:auto; margin-top:80px; padding-top:20px; padding-bottom:20px; border-top:1px solid rgba(255,255,255,0.15); border-bottom:1px solid rgba(255,255,255,0.15);}
.gnb_wrap > li{width:100%; float:left; box-sizing: border-box; overflow: hidden; position: relative;}
.gnb_wrap > li.active{margin-bottom: 30px;}
.gnb_wrap > li > a{font-size:18px; font-size:1.8rem; line-height:22px; line-height:2.2rem; letter-spacing: 0.06em; color:#fff; font-weight:400;
    display:block; padding-bottom:16px; text-align: left; padding-top:16px; padding-left:35px; padding-right:35px; background-image: url('../img/plus_icon.png'); background-repeat: no-repeat; background-position: right 35px center;}
.gnb_wrap > li.active > a{background-image: url('../img/minus_icon.png');}
/*.gnb_wrap > li:hover > a{border-bottom:2px solid #fff;}*/
/*.gnb_wrap > li.active > a{border-bottom:2px solid #fff;}*/
.gnb_wrap > li > ul{height:0;}
.header_wrap.active .gnb_wrap > li > ul{height:0; padding-top:0;}
.header_wrap.active .gnb_wrap > li.active > ul{height:auto;}

.gnb_wrap > li > ul > li{text-align: left; margin-bottom:3px;}
.gnb_wrap > li > ul > li:last-child{margin-bottom:0;}
.gnb_wrap > li > ul > li > a{font-size:18px; font-size:1.8rem; line-height:22px; line-height:2.2rem; letter-spacing: -0.025em; color:#666; font-weight:400;
    display:block; padding-top:16px; padding-bottom:16px; padding-left:67px; background-image: url('../img/list_style_1_line.png'); background-repeat: no-repeat; background-position: left 53px center;}
.gnb_wrap > li > ul > li:hover > a{color:#fff; background-image: url('../img/list_style_1_line_white.png');}
.gnb_wrap > li > ul > li.active > a{color:#fff; background-image: url('../img/list_style_1_line_white.png');}

.gnb_util_wrap{text-align: center; margin-top:30px; display:block;}
.gnb_util_list_con{overflow:hidden; display: inline-block;}
.gnb_util_list_con > li{float:left; font-size:16px; font-size:1.6rem; line-height:16px; line-height:1.6rem; letter-spacing:-0.045rem; font-weight:400; color:#fff; padding-left:18px; padding-right:18px; border-right:1px solid rgba(255,255,255,0.25);}
.gnb_util_list_con > li:first-child{padding-left: 0;}
.gnb_util_list_con > li:last-child{padding-right: 0; border-right:none;}




/* visual_wrap */
.visual_wrap{text-align: center;}
.visual_wrap h2{font-size:38px; font-size:3.8rem; line-height:52px; line-height:5.2rem; letter-spacing: -0.065em; color:#fff; font-weight:500; margin-bottom:10px;}
.sub_page .visual_wrap h2{letter-spacing: 0.04em;}
.visual_wrap .h_desc2{font-size:20px; font-size:2.0rem; line-height:31px; line-height:3.1rem; letter-spacing: -0.025em; color:#fff; font-weight:500; margin-bottom:30px;}

.main_more_btn_con{text-align: center;}
.main_more_btn_con .main_more_btn{font-size:16px; font-size:1.6rem; line-height:26px; line-height:2.6rem; color:#fff; font-weight:bold;
    width:190px; display:inline-block; vertical-align: middle; padding-left:24px; padding-right:51px; box-sizing: border-box; border:2px solid #fff; border-radius:33px; text-align: left; padding-top:6px; padding-bottom:8px;
    background-image: url('../img/btn_style_0_arrow.png'); background-repeat: no-repeat; background-position: right 40px center;}

@media all and (min-width:768px) {
    .main_visual_slide_wrap .swiper-container-horizontal>.swiper-pagination-bullets{bottom:56px;}
}

@media all and (min-width:992px){
    .header_wrap{padding-top:58px; height:1000px;}
    .header_wrap .header_title_wrap{padding-left:0px; padding-right:0px;}
    .header_wrap .gnb_menu_icon{width:auto; margin-top:40px; float:right;}
    .header_wrap .logo_con{text-align: center;}
    .header_wrap .header_util_item{font-size:12px; font-size:1.2rem; line-height:18px; line-height:1.8rem;}
    .header_wrap.active .gnb_dim{height:50%; opacity: 0.9; filter:alpha(opacity=90); z-index: 1; transition:height .5s;}
    .sub_page .header_wrap{height:602px;}

    .gnb_container{padding-bottom:233px; position: relative; left:0; height:auto;}
    .main_visual_slide_wrap .swiper-button-prev{top:0; bottom:auto; left:80px; display:block; margin-top:-480px;}
    .main_visual_slide_wrap .swiper-button-next{top:0; bottom:auto; right:80px; display:block; margin-top:-480px;}
    .header_wrap .header_util_con{float:left; display:block; margin-top:43px; margin-right:20px; margin-right:0;}

    /* visual_wrap */
    .visual_wrap h2{font-size:50px; font-size:5.0rem; line-height:62px; line-height:6.2rem; margin-bottom:14px;}

}