@charset "utf-8";
 
.main_section{padding-top:0px; padding-bottom:100px;}
.main_section.value_section{padding-bottom:0;}
.main_section .section_header{text-align: center; margin-bottom:50px;}
.main_section .section_header.mb52{margin-bottom:52px;}
.main_section h3{font-size:34px; font-size:3.4rem; line-height:40px; line-height:4.0rem; color:#000; font-weight:600; margin-bottom:24px;}
.main_section .h_line3{width:70px; display:block; border-bottom:2px solid #000; margin-right:auto; margin-left:auto; margin-bottom:23px;}
.main_section .h_desc3{font-size:16px; font-size:1.6rem; line-height:25px; line-height:2.5rem; letter-spacing: -0.025em; color:#000; font-weight:300;}
.main_section .section_header.color_white h3{color:#fff;}
.main_section .section_header.color_white .h_line3{border-bottom-color:#fff;}
.main_section .section_header.color_white .h_desc3{color:#fff;}
.main_section .section_subtitle{font-size:35px; font-size:3.5rem; line-height:46px; line-height:4.6rem; letter-spacing: -0.065em; color:#fff; font-weight:bold; margin-bottom:14px;}
.main_section .section_subdesc{font-size:16px; font-size:1.6rem; line-height:25px; line-height:2.5rem; letter-spacing: -0.025em; color:#000; font-weight:300; word-break: keep-all;}
.main_section .section_contents{overflow:hidden;}

.value_category_contents_wrap{}
.value_category_contents_wrap .value_category_contents_con{}
.value_category_contents_wrap .value_category_contents_list{text-align: center; }
.value_category_contents_wrap .value_category_contents_list:last-child:after{display:none;}
.value_category_contents_wrap .img_box{
	display:table; width:162px; height:162px; margin-right:auto; 
	margin-left:auto; 
	box-sizing: border-box; margin-bottom:19px;
	width: 225px; height: 200px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.value_category_contents_wrap .img_box:not(.last):after{content:""; position: absolute; width:12px; height:12px; border-radius:50%; top:110px; right:-13px;
        background-image: url('../img/plus_icon.png'); background-repeat: no-repeat; background-position: center center;}
/*
.main_more_btn_con .main_more_btn{font-size:16px; font-size:1.6rem; line-height:26px; line-height:2.6rem; color:#fff; font-weight:bold;
    width:190px; display:inline-block; vertical-align: middle; padding-left:24px; padding-right:51px; box-sizing: border-box; border:2px solid #fff; border-radius:33px; text-align: left; padding-top:6px; padding-bottom:8px;
    background-image: url('../img/btn_style_0_arrow.png'); background-repeat: no-repeat; background-position: right 40px center;}

*/


.value_category_contents_wrap .img_box .default_img{display:inline;}
.value_category_contents_wrap .img_box .hover_img{display:none;}

.value_category_contents_wrap .text_box{font-size:18px; font-size:1.8rem; line-height:23px; line-height:2.3rem; letter-spacing: -0.025em; color:#000; font-weight:bold;}
.value_category_contents_wrap .diagnosis_category_text_con{padding-top:85px; padding-bottom:75px;}
.value_category_contents_wrap .value_category_contents_list.active .img_box .default_img{display:none;}
.value_category_contents_wrap .value_category_contents_list.active .img_box .hover_img{display:inline;}
.value_category_contents_wrap .value_category_contents_list.active .text_box{color:#0568ee;}
.value_category_contents_wrap .diagnosis_category_text_list{display:none;}
.value_category_contents_wrap .diagnosis_category_text_list.active{display:block;}