<div class="container" ng-controller="HeaderController as vm">
  <div class="navbar-header">
    <!--<button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>-->
  <nav class = "navbar-collapse">
    <ul class = "nav navbar-nav navbar-right">
	<li >
           <a ui-sref = "home" ><img src = "/modules/core/client/img/pgx2.png" style = "height:35px; width = 60px; "  ></a>
        </li>
	<li style = "margin-top:10px">
          <a ui-sref = "find"  ng-show = "vm.authentication.user">SEARCH</a>
	</li>
   </ul>  
 </div>
</nav>
 <nav class="navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation" style = "margin-top:5px">
    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
      <li ui-sref-active="active" style = "margin-top:5px" >
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li ui-sref-active="active"  style = "margin-top:5px" >
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
      <li class="dropdown" uib-dropdown  style = "margin-top:10px" >
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <!--<img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image" />-->
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li style = "margin-top:10px" >
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
